%h2 Results<br />

%ul
  %h4 Your results show you're experiencing:
  %li
    #{@depression} features of depression
  %li
    #{@anxiety} features of anxiety
  %li
    #{@stress} features of stress
.row
  - if [@depression, @anxiety, @stress].all? {|s| s == 'normal'}
    Congratulations, you look like you're doing well!
  - else
    .col-md-6.col-md-offset-3
      %h4 Do you want to discuss this with somebody?<br />
      .tell-someone-container
        %button.btn.btn-primary Yes
        %button.btn.btn-warning No
    .col-md-2

    .col-md-2
    .col-md-2
