
%h2 Results<br />

%ul
  %h4 Your results show you're experiencing:
  - @metrics.each do |metric|
    %li
      #{metric.intensity} features of #{metric.type}
.row
  - if @metrics.all?(&:normal?)
    Congratulations, you look like you're doing well!
  - else
    .col-md-10.col-md-offset-1
      %h4
        - if @metrics.any?(&:extreme?)
          These results tell us that it looks like you're struggling. We have a duty of care to tell someone. Who do you want us to tell? (if you don't select anybody it will automatically be sent to your employee assistance provider)
        - else
          Do you want to discuss this with somebody?
      %br
      .tell-someone-container
        %button.btn.btn-primary{ data: { toggle: "modal", target: "#contact-modal" } } Yes
        %button.btn.btn-warning{disabled: @metrics.any?(&:extreme?)} No
    .col-md-2

    .col-md-2
    .col-md-2
