.jumbotron
  .container
    %h2 Notes for today
    %p Your last AOD test failed photomatch - <b>you can't start work until re-testing has passed.</b>

.aod-container
  %img.img-thumbnail.aod-avatar{src: asset_path('avatar')}
  %ul.aod-details.aod-item
    %h4 Test Details
    %table.table
      %tr
        %th Date
        %th Place
        %th Device
        %th Outcome
        %th Actions
        %th Informed
      %tr
        %td 8/4/2016
        %td Wheatstone
        %td Acoholizer WM4
        %td <i class="fa fa-2x fa-exclamation-triangle"></i>
        %td Photo mismatch
        %td Manager
      %tr
        %td 7/4/2016
        %td Pluto
        %td Acoholizer WM4
        %td <i class="fa fa-2x fa-check"></i>
        %td
        %td
