.title-row
  .cell
    Device and App  Permissions needed for  Connected by You  Disable Connected by your Employer
  .cell
    Data provided for
  .cell
    Connected to you
  .cell
    Connected by your employer
.info-row
  .cell
    Number of steps
  .cell
    <i class="fa fa-2x fa-check"></i>
  .cell
    10,023 steps
  .cell
