.jumbotron
  .container
    %h2 Notes for today
    %p Stop high risk activities by <b>21:30</b>.
    %p Time to bed: <b>22:30</b>.

.title-row
  .cell
    Fatigue Impairment Type
  .cell
    Result
  .cell
    Action
  .cell
    Inform Manager
.info-row
  .cell
    Single Night
  .cell
    <i class="fa fa-2x fa-exclamation-triangle"></i> 5 hours 32 mins
  .cell
    Get at least six and a half hours sleep tonight.
  .cell
    %button.btn.btn-warning Inform Manager
.info-row
  .cell
    Multi-night
  .cell
    <i class="fa fa-2x fa-check"></i>
  .cell
  .cell
.info-row
  .cell
    Sleep Quality
  .cell
    <i class="fa fa-2x fa-check"></i>
  .cell
  .cell
