.info-row
  .cell
    Single Night
  .cell
    tick
  .cell

  .cell

.info-row
  .cell
    Multi-night
  .cell
    flag
  .cell
    who to tell
  .cell
    risk management plan
.info-row
  .cell
    Sleep Quality
  .cell
    flag
  .cell
    who to tell
  .cell
    risk management plan

.jumbotron
  .container
    .h2 Stop high risk activities by 21:30.
    .h2 Time to bed: 22:30.
