.info-row
  .col-md-3
    Your location
  .col-md-9
    MAPPY MAP
.info-row
  .col-md-3
    Weather for day
  .col-md-9
    TEMPY TEMPERATURE
.info-row
  .col-md-3
    Activity Level
  .col-md-9
    SELECTY SELECT
.jumbotron
  .container
    %h2 You are at HIGH/MED/LOW risk of dehydration.
.jumbotron
  .container
    %h2 Self Assessment
    %p What colour is your urine?
    %p -------CLICKY CLICK---------
