.modal.fade{:role => "dialog", :tabindex => "-1", id: 'contact-modal'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Talk to somebody
      %form.modal-body
        .form-group
          %label Name
          %input{type: 'text', class: 'form-control'}
        .form-group
          %label Email
          %input{type: 'text', class: 'form-control'}
        .form-group
          %label Role
          %input{type: 'text', class: 'form-control'}
        .form-group
          %label Phone
          %input{type: 'text', class: 'form-control'}
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button" } Send
    //.modal-content
  //.modal-dialog
//.modal

.alert.alert-danger{:role => "alert", id: 'mental-alert'}
  %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
  %span Your vital statistics suggest something might be different for you recently. Please fill in the questionnaire below

.jumbotron.question-container{id: 'questionnaire'}
  = form_tag({}, remote: true) do
    %h2 Questionnaire
    .container.answer-container
      %table.table.table-striped
        %tr
          %th #
          %th Question
          %th Never
          %th Sometimes
          %th Often
          %th Almost Always
        - @questions.each.with_index(1) do |q, i|
          %tr
            %td= i
            %td= q
            - selected = rand(4)
            - ['Never', 'Sometimes', 'Often', 'Almost Always'].each_with_index do |a, subidx|
              %td
                %input{name: "#{i}", value: subidx, type: 'radio', checked: selected == subidx ? 'checked' : nil}
    %hr
    %button.btn.btn-primary{type: 'submit'}
      Tell me how I feel baby!
