.jumbotron
  .smiley-container
    .smiley
      Happy
    .smiley
      Sad
    .smiley
      Angry
    .smiley
      Worried
    .smiley
      Disgusted
    .smiley
      Tired
    .smiley
      Confused
