.alert.alert-danger{:role => "alert"}
  %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
  %span Your vital statistics suggest something might be different for you recently. Please fill in the questionnaire below

%form.jumbotron
  .container
    %h2
      How are you feeling today? (0-10)
    .info-row
      .col-md-3
        Happy
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("happy", this.value);'}
        %label.left-label{id: "happy"}
    .info-row
      .col-md-3
        Sad
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("sad", this.value);'}
        %label.left-label{id: "sad"}
    .info-row
      .col-md-3
        Angry
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("angry", this.value);'}
        %label.left-label{id: "angry"}
    .info-row
      .col-md-3
        Worried
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("worried", this.value);'}
        %label.left-label{id: "worried"}
    .info-row
      .col-md-3
        Disgusted
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("disgusted", this.value);'}
        %label.left-label{id: "disgusted"}
    .info-row
      .col-md-3
        Tired
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("tired", this.value);'}
        %label.left-label{id: "tired"}
    .info-row
      .col-md-3
        Confused
      .col-md-9
        %input{type: 'range', name: "points", min: "0", max: "10", onChange: 'updateSliderValue("confused", this.value);'}
        %label.left-label{id: "confused"}
    .info-row
      %button.btn.btn-success{type: 'submit'}
        That's just how I feel baby!

:javascript
  function updateSliderValue(id, value)
  {
    document.getElementById(id).innerHTML=value + '/10';
  }

%form.jumbotron.question-container
  %h2 Questionnaire
  .container.answer-container
    %table.table.table-striped
      %tr
        %th #
        %th Question
        %th Never
        %th Sometimes
        %th Often
        %th Almost Always
      - @questions.each.with_index(1) do |q, i|
        %tr
          %td= i
          %td= q
          - ['Never', 'Sometimes', 'Often', 'Almost Always'].each_with_index do |a, subidx|
            %td
              %input{name: "#{i}", value: subidx, type: 'radio'}
  .info-row
    %button.btn.btn-success{type: 'submit'}
      That's my questionnaire for today!
