.alert.alert-danger{:role => "alert"}
  %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
  %span Your vital statistics suggest something might be different for you recently. Please fill in the questionnaire below

.jumbotron.question-container{id: 'questionnaire'}
  = form_tag({}, remote: true) do
    %h2 Questionnaire
    .container.answer-container
      %table.table.table-striped
        %tr
          %th #
          %th Question
          %th Never
          %th Sometimes
          %th Often
          %th Almost Always
        - @questions.each.with_index(1) do |q, i|
          %tr
            %td= i
            %td= q
            - selected = rand(4)
            - ['Never', 'Sometimes', 'Often', 'Almost Always'].each_with_index do |a, subidx|
              %td
                %input{name: "#{i}", value: subidx, type: 'radio', checked: selected == subidx ? 'checked' : nil}
    .info-row
      %button.btn.btn-success{type: 'submit'}
        Tell me how I feel baby!
