.info-row
  .cell
    Number of steps
  .cell
    tick
  .cell
    action
  .cell
    join program
.info-row
  .cell
    Heart Rate
  .cell
    tick
  .cell
    action
  .cell
    join program
.info-row
  .cell
    Minutes Active
  .cell
    tick
  .cell
    action
  .cell
    join program
.info-row
  .cell
    Heart Rate Variability
  .cell
    tick
  .cell
    action
  .cell
    join program
