.title-row
  .cell
    Assessment
  .cell
    Result
  .cell
    Action
  .cell
    Join Program
.info-row
  .cell
    Number of steps
  .cell
    <i class="fa fa-2x fa-check"></i>
  .cell
    10,023 steps
  .cell

.info-row
  .cell
    Heart Rate
  .cell
    <i class="fa fa-2x fa-exclamation-triangle"></i> 89 BPM
  .cell
    Consider a cardiovascular fitness program
  .cell
    %button.btn.btn-primary Join
.info-row
  .cell
    Minutes Active
  .cell
    <i class="fa fa-2x fa-exclamation-triangle"></i> 22 mins
  .cell
    Try taking a 10 minute walk after dinner.
  .cell
    %button.btn.btn-primary Join
.info-row
  .cell
    Heart Rate Variability
  .cell
    <i class="fa fa-2x fa-exclamation-triangle"></i>
  .cell
    Consider a cardiovascular fitness program
  .cell
    %button.btn.btn-primary Join
