.jumbotron
  .container
    %h2 Notes for today
    %p Stop high risk activities by <b>21:30</b>.
    %p Based on your location and your exercise level you're at <b>moderate risk of dehydration</b>.
    %p Your last AOD test failed photomatch - <b>you can't start work until re-testing has passed.</b>

.title-row
  .cell
  .cell
    OK
  .cell
    Action Required
  .cell
    Last Date Tested
.info-row
  .cell
    Fitness
  .cell
    <i class="fa fa-2x fa-check"></i>
  .cell

  .cell

.info-row
  .cell
    Fatigue
  .cell
    <i class="fa fa-2x fa-exclamation-triangle"></i>
  .cell
    Multi-night
  .cell
    Sleep Quality
.info-row
  .cell
    Hydration
  .cell
    Hello!
.info-row
  .cell
    Wellness
  .cell
    Hello!
.info-row
  .cell
    AOD
  .cell
    Hello!
