.title-row
  .cell
  .cell
    OK
  .cell
    Action Required
  .cell
    Last Date Tested
.info-row
  .cell
    Fitness
  .cell
    smiley
  .cell
    Multi-night
  .cell
    Sleep Quality
.info-row
  .cell
    Fatigue
  .cell
    Hello!
.info-row
  .cell
    Hydration
  .cell
    Hello!
.info-row
  .cell
    Wellness
  .cell
    Hello!
.info-row
  .cell
    AOD
  .cell
    Hello!
